@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  min-width: 0;
  font-family: "Inter";
}

.font-overpass {
  font-family: "Overpass", sans-serif;
}

.font-inter {
  font-family: "Inter";
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 99;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}